DB_HOST=localhost
DB_PORT=3306
DB_NAME=madrasah_kelulusan
DB_USER=root
DB_PASS=

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

UPLOAD_DIR=../uploads/
PUBLIC_URL=http://localhost/uploads/

ALLOWED_ORIGIN=http://localhost:4321
