DB_HOST=localhost
DB_PORT=3306
DB_NAME=madrasah_kelulusan
DB_USER=root
DB_PASS=

ADMIN_USERNAME=admin
ADMIN_PASSWORD=
SETUP_TOKEN=

UPLOAD_DIR=../uploads/
PUBLIC_URL=http://localhost:3000/uploads

ALLOWED_ORIGIN=http://localhost:4321

# Dev: http://localhost:4321
# Production: sesuaikan domain frontend
DB_HOST=localhost
DB_PORT=3306
DB_NAME=madrasah_kelulusan
DB_USER=root
DB_PASS=

ADMIN_USERNAME=admin
ADMIN_PASSWORD=

UPLOAD_DIR=../uploads/
PUBLIC_URL=http://localhost:3000/uploads/

ALLOWED_ORIGIN=http://localhost:4321
